<!docktype html>
<html lang = "ja">
  <head>

  </head>

  <body>
    <h1>Books</h1>
    
<!--一覧画面---->
    <%= @books.each do |book| %>

    <table>
      <thead>
        <tr>
          <th>Title</th>
          <%= book.title %>

          <th>Body</th>
          <%= book.body %>
          <th colspan = "3"></th>

          <% end %>
        </tr>
      </thead>

    </table>


<!---投稿画面---->
    <h1>New Books</h1>

    <%= form_with model:@book, url: '/books', method: :post do |f| %>

    <h4>title</h4>
     <%= f.text_field :title %>

    <h4>body</h4>
     <%= f.text_area :body %>

     <%= f.submit 'Create Book' %>

    <% end %>

  </body>
</html>